@model List<MeterReader.MeterReading.Model.MeterReadingWithError>

@{
    ViewData["Title"] = "Home Page";
    int errorCount = 0;
    int successCount = 0;
    int totalCount = 0;

    if (Model != null)
    {
        //get some data to show counts, could do that in code below, but having in one place is nice
        errorCount = Model.Where(x => x.HasError == true).Count();
        successCount = Model.Where(x => x.HasError == false).Count();
        //lets hope these are the same :/
        totalCount = Model.Count();
    }
}

@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
<br/>
<br/>
<div>
    <span>        
        First line has headers? <input type="checkbox" name="chkCheckbox" id="chkCheckbox" />
    </span>
</div>
<div>
    <span>
        Uplaod meter reading csv: @Html.TextBox("file-upload", "", new { type= "file", accept="csv/*,.csv" } ) <br />
    </span>
    <div class="upload-spinner-container">
        <span>
            <input id="upload" class="max-width" type="submit" value="Upload" style="display: none;"/>                    
            <i id="spinner" class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"  style="margin-left: 45px; display: none;"></i>    
        </span>
        </div>
    @ViewBag.Message        
</div>
}

<br />
<br />
<div>
    @if (Model != null)
    {
        <div>
            <span class="success" >Imported with success of @successCount / @totalCount</span>
        </div>
        <div>
            <span class="fail">Imported with errors of @errorCount / @totalCount </span>
            <span class="error-padding" id="showErrors">Click to show errors</span>
        </div>

        <div id="divShowErrors" style="display: none;">
            @foreach (var m in Model.Where(x => x.HasError == true).ToList())
            {
                 <div class="error-results-div">
                    <span>@m.ErrorMessage</span>
                </div>
            }
        </div>
    }
</div>

<script>
    $(document).ready(function() {
        //i would split this out to a js file but kept here for readability
        
        //on file upload show the upload button
        $("#file-upload").change(function () {

            var validExtensions = ["csv"] 
            var file = $(this).val().split('.').pop();
            if (validExtensions.indexOf(file) == -1) {
                $("#upload").css("display", "none");
                alert("Only formats are allowed : " + validExtensions.join(', '));
            }
            else
            {
                $("#upload").css("display", "block");
            }
        });

        //when upload is clicked show a spinner to give feedback we are doing something
        $("#upload").click(function () {
            $("#upload").css("display", "none");
            $("#spinner").css("display", "block");
        });

        //errors are hidden, click on the show button to show a list of the errors
        $("#showErrors").click(function (){
            $("#divShowErrors").toggle("slow", function() {
            });
        });

    });
</script>

<style>
    /*i would split this out to a css file or even better to a sass or less file but kept here for readability*/
    .success{
        color: green;
    }

    .fail{
        color: red;
    }

    .error-padding{
        padding-left: 50px;
    }

    .no-display{
    }

    .error-results-div{
        border: gray solid 0.1px; 
        padding:0px 10px; 
        width:700px;
    }

    .max-width{
        width:100%;
    }

    .upload-spinner-container{
        width: 100px;
    }
</style>